<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NKU新闻网南开故事检索</title>
    <style type="text/css">
        h1 {
            text-align : center
        }

        div h2{
            border :solid black;
            font-faimly : 楷体 ;
        }

        body{
		    background: url("/static/image/index.jpg") no-repeat center center fixed;
                /*兼容浏览器版本*/
                -webkit-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
	    }
	</style>
</head>
<body>
    <h1><font size="7">NKU新闻网南开故事检索</font></h1>
    <form method="post">
        <br> </br>
        <br> </br>
        <p style="text-align:center;" ><font size="6">站内搜索 : <input type="text" name="query" style="width:200px;height:25px;"/></font></p>
        <p style="text-align:center;"><font size="6">短语查询 : <input type="text" name="phrase_query" style="width:200px;height:25px;"/></font></p>
        <p style="text-align:center;"><font size="6">通配查询 : <input type="text" name="wildcard_query" style="width:200px;height:25px;"/></font></p>
        <p style="text-align:center;"><input type="submit" value="搜索" style="width:100px;height:30px;"/></p>
        <p style="text-align:center;"><font size="5">用户名（仅英文字母） : <input type="text" name="username" style="width:200px;height:25px;"/></font></p>
        <p style="text-align:center;"><font size="5">密 码 : <input type="password" name="password" style="width:200px;height:25px;"/></font></p>
        <p style="text-align:center;"><input type="submit" value="登录" style="width:100px;height:30px;"/></p>
    </form>

</body>
</html>