<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标题</title>
    <style>
        h1 {
            text-align : center
        }

        div h2{
            border :solid black;
            font-faimly : 楷体 ;
            color : red
        }
    </style>
</head>
<body>
    <h1>文本</h1>
    <form>
        <p>文本1 : <input type="text" placeholder="文本1"></p>
        <p>文本2 : <input type="email" placeholder="文本2"></p>
        <p>文本3 : <input type="tel" placeholder="文本3"></p>
        <p><input type="submit" value="提交"></p>
    </form>
    <div>
        <h2>文本4</h2>
        <p>文本5</p>
        <p>文本6</p>
    </div>
</body>
</html>