<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NKU新闻网南开故事检索</title>
    <style>
        h1 {
            text-align : center
        }

        div h2{
            border :solid black;
            font-faimly : 楷体 ;
            color : red
        }
    </style>
</head>
<body style="background-color:#66CCFF">
    <h1><font size="7">NKU新闻网南开故事检索</font></h1>
    <form method="post">
        <br> </br>
        <p style="text-align:center;" ><font size="6">欢迎！{{username}}
        <br> </br>
        <p style="text-align:center;" ><font size="6">站内搜索 : <input type="text" name="login_query" style="width:200px;height:25px;"/></font></p>
        <p style="text-align:center;"><font size="6">短语查询 : <input type="text" name="login_phrase_query" style="width:200px;height:25px;"/></font></p>
        <p style="text-align:center;"><font size="6">通配查询 : <input type="text" name="login_wildcard_query" style="width:200px;height:25px;"/></font></p>
        <p style="text-align:center;"><input type="submit" value="搜索" style="width:100px;height:30px;"/></p>
    </form>

</body>
</html>